body{
    font-family: 'Roboto', sans-serif;
    margin:7%;
}
/* HEADER */
header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width:100%;
    padding-top:10%;
    padding-bottom:10%;
    background-color: #F3EED9;
}
/* HEADER */

/* SECTION 1 */
.section_1 h2{
    text-align: center;
}

.section_1{
    display:flex;
    flex-direction: column;
    padding-top:5%;
    padding-bottom:5%;
}
.split{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding-left:10%;
    padding-right:10%;
    
}
.split p{
    padding-left:5%;
    padding-right:5%;
    
}
/* SECTION 1 */

/* SECTION 2 */
.section_2{
    background-color: #222C2A;
    padding-top:5%;
    padding-bottom:5%;
}
.section_2 h2{
    color:white;
    padding-left: 5.5%;
    /* text-align: center; */
}

.section_2 p{
    color:white;
}

.section_2 img{
    border-style: none;
}

/* SECTION 2 */

/* SECTION 3 */

.section_3{
    background-color: #824936;
    padding-top:5%;
    padding-bottom:5%;
}

.section_3 h2{
    color:white;
    padding-left:5.5%;
}

.section_3 p{
    color:white;
}

/* SECTION 3 */

/* TEXT FONTS */
h1{
    width:60%;
    text-align:center;
    color:darkred;
    font-family: 'Playfair Display', serif;
    font-size:60px;
    text-decoration: underline;
}
h2{
    font-family: 'Playfair Display', serif;
    color:darkred;
    font-size:30px;
    text-decoration: underline;
}

p{
    font-size:25px;
}
/* TEXT FONTS */